<h1>Lista de tareas</h1>
<br>
<%=link_to 'Crear nuevo ToDo', new_todo_path(@todo)%>
<br>

<ul class="list-group">
  <% @todos.each do |todo| %>


  <li class="list-group-item">
        <button type="button" class="btn btn-primary"><%= link_to 'Complete', set_complete_path(todo), method: :patch %></button>
        <%= link_to "#{todo.description}", todos_path(todo) %>
        <button type="button" class="btn btn-secondary"><%= link_to 'Show', todos_path(todo)%></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_todo_path(todo)%></button>
        <button type="button" class="btn btn-danger"><%= link_to 'Delete', todos_path(todo), data: {confirm: 'Are you sure?!!', method: :delete} %></button>
    <% end %>
  </li>

</ul>
